node_modules/
venv/
__pycache__/
*.pyc
.env
*.log
dist/
.expo/
*.sqlite3
.vite/
dist2/
.opencode/
ANALYSIS.txt
fon.jpg
**/bin/
**/obj/
**/build/
**/.gradle/
**/local.properties
*.user
*.suo
*.apk
*.aab
**/__pycache__/
Thumbs.db
.DS_Store
.vs/
*.csproj.user
